---
date: "2026-07-09T12:00:00+00:00"
slugOverride: 1xbet
title: "1xBet Casino"
description: "Pojem, který může charakterizovat sázkovou stránku 1xBet, je hojnost, s více než 2000 různými sloty a okamžitými výběry. Pojďme se podívat."
excerpt: "Pojem, který může charakterizovat sázkovou stránku 1xBet, je hojnost. I když má design, který může na začátku působit poněkud matoucím dojmem, zejména pro hráče automatů zvyklé na jednoduchost, 1xBet zároveň nabízí jednu z nejkompletnějších škál poskytovatelů, jaké jsme v online kasinu viděli, a více než 2000 různých slotů, s možnostmi pro všechny chutě.<br><br>Pro milovníky sportovního sázení, jako sázková kancelář zaměřená na ně, kterou jsme již viděli na dresech italské SERIE A, nabízí extrémně konkurenceschopný kurzový servis, mnohokrát překonávající jiná kasina dosud známější v Latinské Americe. Pojďme na podrobnosti."
operator: "Exinvest Limited & 1x Corp. N.V."
gradient:
    start: "#10355a"
    end: "#2980cd"
bonus:
    link: "https://reffpa.com/L?tag=d_5827615m_97c_&site=5827615&ad=97&r=registration"
details:
    games: "good"
    promotions: "average"
    customerSupport: "good"
    design: "average"
maxWidthdrawal: "Ne"
minDeposit: "$1"
minWidthdrawal: "$1.5"
license: "Curaçao"
reputation:
    code: "acceptable"
    text: "Pojem, který může charakterizovat sázkovou stránku 1xBet, je hojnost. I když má design, který může na začátku působit poněkud matoucím dojmem, zejména pro hráče automatů zvyklé na jednoduchost, 1xBet zároveň nabízí jednu z nejkompletnějších škál poskytovatelů, jaké jsme v online kasinu viděli, a více než 2000 různých slotů, s možnostmi pro všechny chutě.<br><br>Pro milovníky sportovního sázení, jako sázková kancelář zaměřená na ně, kterou jsme již viděli na dresech italské SERIE A, nabízí extrémně konkurenceschopný kurzový servis, mnohokrát překonávající jiná kasina dosud známější v Latinské Americe. Pojďme na podrobnosti."
featured: true
ranking: 50
score: 100
---

<br>
<p><strong>Kasino 1xBet</strong> dalo o sobě vědět ve světě online sázení. Ruského původu začalo 1xBet působit v prostředí fyzických kasin ve východní Evropě v roce 1997 a svou online kasino platformu spustilo v roce 2007. Sázková kancelář s bohatými možnostmi hraní jak v oblasti automatů, tak sportovního sázení, s rychlými platbami a dobrou zákaznickou podporou, která od svého příchodu do Latinské Ameriky a po poněkud matoucím startu postupně dělá věci správně, pracuje na tom, aby se etablovala jako důvěryhodné kasino, jak v oblasti automatů, tak v tom, co je jejím zaměřením, sportovním sázení, a pomalu rozptyluje pochybnosti, které v nás může sázková kancelář, jež v nás zpočátku vyvolávala smíšené pocity, vyvolat.</p>
<p>Proč? Zaprvé proto, že některé její domény nejsou registrovány v dokumentu její platné licence, což vytváří problémy pro hráče, kteří by se mohli dostat do situace, kdy budou muset předložit spory před orgánem, který licenci vydává, v tomto případě <a href="https://www.curacao-egaming.com/">Curaçao eGaming</a>. Zadruhé proto, že kasino neposkytuje jasné informace o původu svého provozu, přičemž v licenci figuruje jako generický údaj adresa Kaya Richard J. Beaujon Z/N, Curaçao, adresa používaná několika právnickými osobami z různých odvětví a různých zemí.</p>
<p>A konečně proto, že v kasinu 1xBet byly nalezeny nelicencované hry, které představují riziko transparentnosti pro hráče, kteří se rozhodnou riskovat své peníze online. A i když se tak stalo před lety, nemůžeme popřít, že se to stalo, a proto musíme tyto informace hráčům předložit.</p>
<p>To však bylo řečeno, 1xBet se zdá být odhodlán zlepšit svou pověst. Díky silným investicím do reklamy byly hry od nelicencovaných poskytovatelů odstraněny. Kasino vyvíjí efektivní aktivní úsilí při řešení konfliktů těch, kteří předkládají své stížnosti na internetových fórech, jako je Betizen, a slibuje, že je v procesu registrace všech svých současných domén u své licence. Něco, co je bezpochyby k ocenění a čemu budeme i nadále věnovat pozornost, abychom mohli informace aktualizovat, když to bude vhodné. Ale pojďme se podívat na podrobnosti.</p>
<h2 id="juegos" class="contentIndexTitle">Hry&nbsp;<span class="badge badge-success badge-pill">&#10003; Dobré</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>I když 1xBet není stránka zaměřená na sloty nebo kasinové hry, nabízí širokou škálu poskytovatelů her a automatů (více než 2000!). Opravdu jedna z nejširších, jaké jsme viděli.</p>
<p>A i když, jak jsme řekli výše, byly v minulosti nalezeny nelicencované hry, ty byly odstraněny a zůstává obrovská nabídka her spolu s ještě lepší nabídkou sportovního sázení. Co jsou podvodné hry? Jsou to hry vytvořené tak, aby vypadaly přesně jako některé z nejoblíbenějších automatů, ale byly napadeny, aby vyplácely méně peněz, než by měly (viz článek o <a href="/blog/que-es-el-rtp-en-las-tragamonedas/">RTP</a>). Proto bylo kasino více než jednou zařazeno na černou listinu; a to je důvod našich počátečních pochybností.</p>
<p>Pro zajímavost v oblasti zábavy má kasino 1xBet typ her nazvaný +18, pro lidi, kteří si užívají sledování krupiérek, které mají potíže zůstat oblečené 😉 Kromě toho je to společnost, která rozhodně vstoupila do světa virtuálních sportů a inovací se speciální sekcí nazvanou 1xGames, s řadou jednoduchých a zábavných her, jako je 21, kde musíme uhodnout, kdy se celková hodnota karet bude rovnat 21, a která je nabízena v různých prostředích od klasických stolů po stoly obklopené postavami z videohry Dota.</p>
<h2 id="bonos" class="contentIndexTitle">Promoakce a platby&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Průměrné</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Toto je slabá stránka <strong>1xBetu</strong> pro všechny, kteří přicházejí hrát sloty nebo casino a hledají bonusy, které maximalizují jejich vklady. Existuje uvítací bonus 100% s limitem, který se liší v závislosti na měně hráče, ale dosahuje ekvivalentu 100 eur.</p>
<p>Kromě toho jen málo promoakcí, které se (kromě sportovního sázení) neobnovují. 1xBet má také obchod s propagačními kódy, kde můžete získat bonusové body a vyměnit je za propagační kódy.</p>
<p>Jako pozitivní bod má 1xBet velmi jasnou stránku s obchodními podmínkami, správně přeloženou do češtiny, a to jak pro všeobecné podmínky, tak pro podmínky svých bonusů. Nezapomeňte si je přečíst! Mnoho uživatelů si stěžovalo, že jim 1xBet nechtěl poskytnout bonus, který jim náležel, když ve skutečnosti nesplnili potřebné podmínky. Zejména se ujistěte, že jste vyplnili své osobní údaje před provedením prvního vkladu, jinak pravděpodobně nedostanete uvítací bonus.</p>
<h2 id="atencion-al-cliente" class="contentIndexTitle">Zákaznická podpora&nbsp;<span class="badge badge-success badge-pill">&#10003; Dobré</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Mezi pozitivní věci patří, že kasino 1xBet má 24hodinovou podporu s rychlostí odezvy, kterou mnoho uživatelů hodnotí jako rychlou. I když je to delikátní bod, kde jsou vždy nespokojení uživatelé, je třeba zdůraznit úsilí značky o zlepšení kvality této služby, a to jak na webu, kde jsou dotazy a stížnosti přijímány prostřednictvím live chatu, telefonicky na čísle <strong>+44 127 325-69-87</strong>, nebo na e-mail pro všeobecné dotazy <strong>[email&#160;protected]</strong>.</p>
<p>Na druhou stranu se reakce 1xBetu na externích fórech změnila z vyhýbavé na rychlou a pozitivní, s prokazatelnou historií velmi dobrého řešení konfliktů na evropských fórech, o které doufáme, že bude analogická pozornosti, které se dostane nám, českým uživatelům.</p>
<h2 id="usabilidad" class="contentIndexTitle">Design a použitelnost&nbsp;<span class="badge badge-warning badge-pill font-weight-bold">∼ Průměrné</span></h2><h3 class="contentIndexSubTitle"></h3>
<p>Stránka je podle našeho názoru příliš složitá a vizuálně přeplněná (poněkud normální u kasin zaměřených na sportovní sázení), takže vám může chvíli trvat, než se přizpůsobíte a najdete všechny možnosti, které hledáte. Její mobilní verze je naopak velmi dobrá, s mnohem zjednodušenším rozhraním.</p>
<p>Jak bylo uvedeno v úvodu, při analýze jsme zjistili, že webová adresa používaná její mobilní verzí se liší od adresy desktopové stránky, což je potenciálně kontraproduktivní pro hráče, protože domény, které jsou mimo herní licenci, nepodléhají pravidlům regulace orgánu, který ji vydává, a proto není možné požadovat soulad s tím, co se nám při hraní na nich stane. To je hlavní důvod, proč jsme kasinu 1xBet dali reputaci "Přijatelné", a vyzýváme hráče <a href="/cs/online-kasina/">online kasin</a>, aby si dokumentovali své sázky a ověřovali, kde je provádějí, aby se vyhnuli pozdějším překvapením.</p>
