---
title: "Über uns"
description: "Wir sind das erste Casino-, Binary- und Forex-Bewertungsportal mit den richtigen Anreizen: Karma, Verdienst und Proof-of-Work. Machen Sie mit!"
slugOverride: ueber-uns
---

<div class="max-w-6xl mx-auto">

    <div class=" rounded-xl shadow-lg mb-8 dark:shadow-none dark:border dark:border-gray-800">
        <div 
          style="background-image: linear-gradient(to right, #4f46e5, #7c3aed)"
          class="bg-red-200 h-20 relative rounded-t-lg">
            <div class="absolute top-4 right-6">
                <a href="{{ '/' | locale_url }}" class="bg-gray-600 text-white text-xs px-3 py-1 rounded">
                    Startseite
                </a>
            </div>
        </div>
        
        <div class="pt-12 pb-6 px-6">
            <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
                <h1>Was ist Betizen? 🤌</h1>
                <h2 class="text-gray-400 !mt-0 !mb-10">
                  Wir sind das erste Casino-, Binary- und Forex-Bewertungsportal mit den richtigen Anreizen: <span class="text-neutral dark:text-gray-100">Karma, Verdienst und Proof-of-Work</span>. Sie bestimmen Betizens Rankings, indem Sie Ihr Karma verteilen.
                </h2>

                {%- include "components/bz-stats.njk" %} 

            </div>

            <div class="join join-vertical w-full mt-10">
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Was genau ist Betizen?
                </div>
                <div class="collapse-content prose md:prose-lg min-w-full prose-p:my-[10px]">
                  <p>
                    Die Ära der betrügerischen Casino- und Affiliate-Seiten ist vorbei.
                    <br />
                    Der Online-Wettmarkt hat sich verändert.
                  </p>
                  <p>Haben Sie schon Seiten voller Werbung besucht? OK, DAS IST NICHT Betizen.</p>

                  <p>Affiliate-Partner, die früher nicht regulierte Seiten bewarben, haben jetzt Lizenzen erworben und verteidigen reguliertes Glücksspiel mit aller Macht – oder sie arbeiten für die Branche.
                  
                  In der Zwischenzeit betreten Casino-, Forex- und Binary-Seiten weiterhin regulierte Märkte <a class="italic" href="#">nicht immer mit genehmigten Lizenzen</a> und verwirren Spieler, Nutzer, die breite Öffentlichkeit und Regulierungsbehörden.</p>

                  <p>Wir glauben, dass die beste Lösung direkt vom Markt kommt. Direkt aus den Erfahrungen von <i>Spielern</i> für <i>Spieler</i>.</p>

                  <p>🌟 Von hier aus ist Betizen (wieder)entstanden mit der Mission, nur eines zu bieten: <span class="font-black">zuverlässige und überprüfbare Listings und Rankings</span> für Spieler, Betreiber und Manager.</p>
                  
                </div>
              </div>

              {# FAQ 2 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Wie erhalten wir vertrauenswürdige Listings?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                    <span class="font-bold"></span> Die Listen auf Betizen basieren auf kollektiver Erfahrung. Auf den (überprüfbaren) Stimmen der Teilnehmer.
                    <br />
                    <span class="italic">(Unser v2 sieht sogar Blockchain-Technologie vor, um Transparenz bei der Stimmüberprüfung zu gewährleisten).</span>
                  </p>

                  <p>Normalerweise präsentieren Affiliate-Seiten Marken und Betreiber zum besten Preis. Betizen ist nicht naiv – wir sind tatsächlich Affiliate-Partner. Aber wir reservieren Platz für Sponsoren und reinigen so unsere Listings, die ausschließlich von "<strong>Karma</strong>" abhängen.</p>

                  <p>Auf diese Weise bekämpfen wir echten Betrug, <strong>indem wir allen Seiten</strong> die Möglichkeit geben, gelistet zu werden und <strong>sich ihren Platz</strong> durch gute Geschäftspraktiken zu verdienen. Und von der Öffentlichkeit beurteilt zu werden.</p>

                  <p>Seiten mit gültigen Lizenzen werden entsprechend grün markiert.</p>
              
                </div>
              </div>        

              {# FAQ 3 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Karma, Verdienst und Proof-of-Work?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                      <strong>Was ist Karma?</strong> Karma ist das, was Betizen (und das Leben!) antreibt.
                      <br />
                      Verdienen Sie Karma durch Interaktion mit der Seite und anderen Nutzern, verteilen Sie Karma durch Ihre Stimmen und verändern Sie so die Seitenlistings.
                    </p>

                    <p>
                      <strong>Warum Verdienst?</strong> Nur Nutzer, die sich Karma durch Interaktion und Nutzen für die Gemeinschaft verdient haben, können abstimmen, <u>Karma übertragen</u> und die Rankings beeinflussen.
                    </p>

                    <p>
                      <strong>Warum Proof-of-Work?</strong> Proof-of-Work (ein Konzept aus der Bitcoin-Welt) bedeutet, dass nur diejenigen, die ihre Mühe zur Verbesserung der Gemeinschaft beitragen, Karma verdienen, abstimmen und die Richtung der Gemeinschaft bestimmen können.
                    </p>                    
                </div>
              </div>                     
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Wie verdienen Sie Geld?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Wir sind Affiliate-Partner einiger Seiten, was bedeutet, dass wir eine Provision erhalten, wenn Sie sich über unsere Links registrieren. Dies beeinflusst jedoch nicht die Listings, die vom "<strong>Karma</strong>" der Gemeinschaft abhängen.</p>
                </div>
              </div>
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Sind Ihre Bewertungen ehrlich?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Absolut, wir leben davon, das Vertrauen der Nutzer aufzubauen und zu ehren. Es gibt bezahlte und nicht bezahlte Bewertungen. Die bezahlten sind entsprechend gekennzeichnet. Aber selbst bezahlte Bewertungen ändern nichts daran, dass Listings und Rankings vom "<strong>Karma</strong>" der Gemeinschaft abhängen.</p>

                  <p>Unser Ruf hängt vom Vertrauen unserer Nutzer ab. Wenn ein Casino schlecht ist, sagen wir es ohne Angst, selbst wenn wir Geld verlieren. Wenn es sehr schlecht ist, kommt es auf unsere <strong>Blacklist</strong>.</p>
                </div>
              </div>

              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Wie füge ich eine neue Seite hinzu?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Sie können dies selbst tun (wenn Sie genügend <strong>Karma</strong> haben), indem Sie oben auf jeder Seite auf den Button "Website vorschlagen" klicken.</p>
                </div>
              </div>                 
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Wie kann ich Sie kontaktieren?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Sie können uns über unsere sozialen Medien kontaktieren, insbesondere Instagram (<a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer">@betizen_org</a>), wo wir schnell auf alle Anfragen antworten.</p>
                </div>
              </div>

              {# Technologies #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Welche Technologien verwenden Sie?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                    Das Betizen-Projekt verwendet die 
                    <a href="{{ config.links.cubiqApis }}/de" target="_blank">Cubiq Voting and Users APIs</a>, 
                    <a href="https://www.11ty.dev/" target="_blank" rel="nofollow noopener noreferrer">Eleventy</a> als SSG, 
                    und <a href="https://vercel.com/" target="_blank" rel="nofollow noopener noreferrer">Vercel</a> als Cloud-Deployment-Plattform mit globalem CDN und automatisierten Builds.
                  </p>
                </div>
              </div>
              
            </div>
            
            {# Contact #}
            <div class="alert alert-lg alert-info alert-soft mt-8">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6 hidden md:flex">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-bold">Haben Sie weitere Fragen?</h3>
                <div class="text-xs">Schreiben Sie uns auf Instagram und wir antworten sofort</div>
              </div>
              <div>
                <a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer" class="btn btn-info text-white btn-sm">@betizen_org</a>
              </div>
            </div>

        </div>

    </div>

</div>
