---
title: "Vorteile"
description: "Exklusiv für die besten Community-Mitwirkenden. Steigen Sie im Ranking, indem Sie Ihr Karma durch Stimmen und Bewertungen verteilen, und schalten Sie spezielle Boni und Vorteile frei."
layout: "layouts/base.njk"
permalink: "/de/vorteile/"
---
{% include "components/benefits-base.njk" %}
