---
slugOverride: glossar
title: "Glossar"
description: "Lernen Sie alle notwendigen Begriffe für den Einstieg in die Welt des Online-Wettens. Ohne Umschweife, absolute Transparenz."
---

<ul>
  <li>
    <a href="/blog/que-es-el-rtp-en-las-tragamonedas/"><strong>RTP</strong></a>
    ("Return to Player"): Dies ist ein grundlegender Wert von Glücksspielen, der bestimmt, wie viel das Casino vom gesamten Einsatzbetrag langfristig einbehält. Und definiert somit die Gewinnmarge für den Spieler. Der durchschnittliche RTP beträgt 96% bei Spielautomaten. Das bedeutet, dass der Automat langfristig 96% der Einsätze an die Spieler zurückzahlt und die Gewinnspanne des Casinos 4% beträgt. Es ist wichtig zu betonen, dass es sich um einen <strong>langfristigen</strong> Durchschnitt handelt, daher besteht kurzfristig immer die Möglichkeit, einen großen Gewinn zu erzielen, der dazu führt, dass das Casino statt Geld zu verdienen, Verluste macht. Insbesondere bei Spielautomaten mit hoher Volatilität.
  </li>
  <li>
    <strong
      ><a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/"
        >Volatilität</a
      ></strong
    >
    oder Varianz: Es gibt viele Möglichkeiten, Volatilität zu erklären. Man kann sie zum Beispiel als die Geschwindigkeit oder Aggressivität verstehen, mit der sich unser Bankroll beim Spielen dieser Automaten verändert. Spiele mit hoher Volatilität werden von vielen Spielern sehr geschätzt, da ihr hohes Risiko mit der Möglichkeit großer Gewinne verbunden ist. <br />Diese Automaten zahlen weniger häufig aus, aber wenn sie auszahlen, sind die Gewinne in der Regel höher.
  </li>
  <li>
    <strong
      ><a href="/blog/bankroll-y-gestion-de-apuestas/">Bankroll</a>:</strong
    >
    Dies ist der Geldbetrag, den wir in den <a href="/de/online-casinos/">Online-Casinos</a> zum Wetten zur Verfügung haben. Es handelt sich um aktives Geld, das wir durch Einzahlung oder Gewinn erhalten haben. Mit diesem Geld nehmen wir an jedem Spiel teil.
  </li>
  <li>
    <a
      href="/blog/que-es-el-rollover-de-los-bonos-y-como-funciona-no-te-dejes-enganar/"
      ><strong>Rollover</strong></a
    >. Dies ist eine wichtige Kennzahl bei der Überprüfung der Qualität einer Aktion, da sie den Gesamtbetrag angibt, den wir setzen müssen, bevor wir Gewinne aus Boni abheben können.
  </li>
  <li>Jackpot oder angesammelter Gewinn.</li>
  <li>
    <strong>Jackpot oder progressiver angesammelter Gewinn</strong>: Eine Jackpot-Art, zu der jeder Spieler mit jeder Drehung beiträgt. Diese Netzwerk-Jackpots haben oft hohe Werte, da sie von allen Spielern gespeist werden, die den jeweiligen Automaten in allen Casinos spielen.
  </li>
  <li>Gestapelte Wilds oder "Stacked Wilds".</li>
  <li>Münzen oder Credits.</li>
  <li>
    <strong
      >"<a href="/blog/rolling-reels-de-microgaming/">Rolling Reels™</a
      >"</strong
    >: Eine spezielle Funktion einiger Spielautomaten, bei der nach einem Gewinn die beteiligten Symbole verschwinden und durch die darüber liegenden Symbole ersetzt werden, sodass neue Gewinne ohne weiteren Einsatz erzielt werden können. Diese Funktion ist zum Beispiel im Spiel <a href="/juego/thunderstruck-2/">Thunderstruck 2</a> von Microgaming zu sehen.
  </li>
  <li>
    <strong>"<a href="/blog/tragamonedas-megaways/">Megaways™</a>"</strong>:
    Ein von der australischen Firma "Big Time Gaming" patentierter Spielautomaten-Mechanismus. Das Besondere an dieser Art von Automaten ist, dass die Walzen eine zufällige Anzahl von Symbolen enthalten können und die Größe dieser Symbole dynamisch die Anzahl der Gewinnlinien für den jeweiligen Dreh bestimmt, im Gegensatz zu traditionellen Automaten mit fester Anzahl von Gewinnlinien.
  </li>
  <li>Cluster Pays (Cluster-Auszahlungen).</li>
  <li>Affiliate-Partner.</li>
  <li>
    <a href="/leaderboard/"><strong>Ranglisten.</strong></a> Bei Betizen haben Spiele, Casinos, Boni und Affiliate-Programme faire und unparteiische Positionen in den Listings, basierend auf den Stimmen der Nutzer.
  </li>
</ul>
<h2 class="wp-block-heading">Partner-Websites</h2>
<ul>
  <li>
    <a href="https://bingo-online.jouwpagina.nl/">bingo-online</a>
    – jouwpagina.nl
  </li>
</ul>
