---
title: "Transparenz"
description: "Damit die gesamte Gemeinschaft fundierte Entscheidungen treffen kann, brauchen wir ein offenes System. Finden Sie hier alle Fakten über Betizen."
slugOverride: transparenz
---

<div class="max-w-6xl mx-auto">

    <div class="rounded-xl shadow-lg mb-8 dark:shadow-none dark:border dark:border-gray-800">
        <div 
          style="background-image: linear-gradient(to right, #4f46e5, #7c3aed)"
          class="bg-red-200 h-20 relative rounded-t-lg">
            <div class="absolute top-4 right-6">
                <a href="{{ '/' | locale_url }}" class="bg-gray-600 text-white text-xs px-3 py-1 rounded">
                    Startseite
                </a>
            </div>
        </div>
        
        <div class="pt-12 pb-6 px-6">
            <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
                <h1 class="!mb-2">{{ title }}</h1>
                <p>
                    Die Betizen-Community ist bestrebt, Transparenz in den Bereichen Online-Wetten, Glücksspiel und Krypto-Handel zu schaffen. Aktuelle Hindernisse in der Wettbranche sind hohe Medienkosten, unseriöse Affiliate-Netzwerke und eine fehlende Möglichkeit, Betreiber transparent zu überprüfen, während man grundlegende Daten für seine eigenen Entscheidungen nutzt.
                </p>

                <p>
                    Aus diesem Grund ist Betizen bestrebt, dem Sektor eine transparente Gemeinschaft zu bieten, die Rankings gemeinsam nutzt, wo Angebote auf natürliche Weise durch die Stimmen der Spieler entstehen, ohne manipulative Praktiken von Betreibern.
                </p>
                <h3>Transparenz des Betizen-Projekts</h3>
                <p>Alle unsere Inhalte sind Open Source:</p>
                <ul class="list-disc list-inside">
                    <li>GitHub: <a href="{{ config.links.github }}" target="_blank" rel="noopener noreferrer">Betizen SSG</a></li>
                </ul>
                <p>
                    <strong>Alle Daten sind nicht modifizierbar und öffentlich zugänglich.</strong> Wir glauben, dass das wettbewerbsfähigste Spiel fair, offen und ehrlich ist. Die Informationen müssen wahr und für alle zugänglich sein.
                </p>
            </div>
        </div>
    </div>
</div>
