---
title: "Benefits"
description: "Exclusive for top contributors in the community. Climb the leaderboard by spreading your karma through votes and reviews to unlock special bonuses and benefits."
layout: "layouts/base.njk"
permalink: "/en/benefits/"
---
{% include "components/benefits-base.njk" %}
