---
title: "Beneficios"
description: "Exclusivos para los principales contribuyentes de la comunidad. Subí en la tabla de líderes esparciendo tu karma en votos y reseñas para desbloquear bonos y beneficios especiales."
layout: "layouts/base.njk"
permalink: "/beneficios/"
---
{% include "components/benefits-base.njk" %}
