{% macro localeUrlFix(fixLang="es") %}
    {%- for link in page.url | locale_links %}
        {% if link.lang == fixLang %} 
            <a
                class="dropdown-item flag-icon-background {{ languages[link.lang].menu.flagClass }}"
                href='{{ link.url }}'
                >{{ languages[link.lang].menu.name }}</a>
        {%endif%}
    {%- endfor %}
{%endmacro%}

{% macro localeUrlFixDaisy(fixLang) %}
    <li>
        <a class="{{ languages[fixLang].menu.class }} text-base-content/80 flex items-center gap-2 font-bold">
            <img src="{{ languages[fixLang].menu.flagSvg }}" class="h-6 w-6 object-cover" alt="{{ fixLang }}-flag" />

            {{ languages[fixLang].menu.name }}
        </a>
    </li>
{%endmacro%}