---
title: "Benefícios"
description: "Exclusivos para os principais contribuidores da comunidade. Suba na tabela de classificação espalhando seu karma através de votos e avaliações para desbloquear bônus e benefícios especiais."
layout: "layouts/base.njk"
permalink: "/pt-br/beneficios/"
---
{% include "components/benefits-base.njk" %}
