---
title: "O nás"
description: "Jsme první web s listingy kasin, binárních opcí a Forex se správnými pobídkami: karma, zásluhy a proof-of-work. Připojte se!"
slugOverride: o-nas
---

<div class="max-w-6xl mx-auto">

    <div class=" rounded-xl shadow-lg mb-8 dark:shadow-none dark:border dark:border-gray-800">
        <div 
          style="background-image: linear-gradient(to right, #4f46e5, #7c3aed)"
          class="bg-red-200 h-20 relative rounded-t-lg">
            <div class="absolute top-4 right-6">
                <a href="{{ '/' | locale_url }}" class="bg-gray-600 text-white text-xs px-3 py-1 rounded">
                    Domů
                </a>
            </div>
        </div>
        
        <div class="pt-12 pb-6 px-6">
            <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
                <h1>Co je Betizen? 🤌</h1>
                <h2 class="text-gray-400 !mt-0 !mb-10">
                  Jsme první web s listingy kasin, binárních opcí a Forex se správnými pobídkami: <span class="text-neutral dark:text-gray-100">karma, zásluhy a proof-of-work</span>, vy rozhodujete o žebříčcích Betizen tím, že rozdáváte svou karmu.
                </h2>

                {%- include "components/bz-stats.njk" %} 

            </div>

            <div class="join join-vertical w-full mt-10">
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Co přesně je Betizen?
                </div>
                <div class="collapse-content prose md:prose-lg min-w-full prose-p:my-[10px]">
                  <p>
                    Éra podvodných kasin a affiliate webů skončila.
                    <br />
                    Trh online sázení se změnil.
                  </p>
                  <p>Už jste navštívili weby plné reklam? OK, TO NENÍ Betizen.</p>

                  <p>Affiliate partneři, kteří dříve propagovali neregulované stránky, nyní získali licence a brání regulované hraní zuby nehty, nebo pracují pro průmysl.
                  
                  Mezitím kasina, forex a binární opce vstupují na různé regulované trhy <a class="italic" href="#">aniž by vždy měly schválené licence</a>, čímž matou hráče, uživatele, širokou veřejnost i regulátory.</p>

                  <p>Věříme, že nejlepší řešení pochází přímo z trhu. Přímo ze zkušeností <i>hráčů</i> pro <i>hráče</i>.</p>

                  <p>🌟 Právě odtud Betizen (znovu)vznikl s posláním nabídnout jedinou věc: <span class="font-black">spolehlivé a auditovatelné listingy a žebříčky</span> pro hráče, operátory i správce.</p>
                  
                </div>
              </div>

              {# FAQ 2 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jak získáváme spolehlivé listingy?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                    <span class="font-bold"></span> Seznamy na Betizen závisí na kolektivní zkušenosti. Na (auditovatelných) hlasech účastníků.
                    <br />
                    <span class="italic">(Naše v2 počítá i s blockchain technologií pro transparentní audit hlasů).</span>
                  </p>

                  <p>Obvykle affiliate weby vystavují značky a operátory za nejvyšší cenu. Betizen není naivní, jsme affiliate partneři. Ale vyhrazujeme prostor pro sponzory, a tak čistíme naše listingy, které závisí výhradně na "<strong>karmě</strong>".</p>

                  <p>Bojujeme proti podvodům <strong>začleněním všech stránek</strong> do možnosti být uvedeny a <strong>získat si své místo</strong> na základě dobrých provozních praktik. A být posuzovány veřejností.</p>

                  <p>Stránky s platnými licencemi budou řádně označeny zeleně.</p>
              
                </div>
              </div>        

              {# FAQ 3 #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Karma, zásluhy a proof-of-work?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                      <strong>Co je karma?</strong> Karma je to, co hýbe Betizenem (a životem!)
                      <br />
                      Získejte karmu interakcí s webem a ostatními uživateli, rozdávejte karmu svými hlasy a ovlivňujte listingy webu.
                    <p>

                    <p>
                      <strong>Proč zásluhy?</strong> Pouze uživatelé, kteří získali svou karmu interakcí a prospěšností komunitě, mohou hlasovat, <u>přenášet karmu</u> a ovlivňovat žebříčky.
                    </p>

                    <p>
                      <strong>Proč proof-of-work?</strong> Důkaz-prací (koncept ze světa Bitcoinu) znamená, že pouze ti, kteří přispívají svým úsilím ke zlepšení komunity, mohou získat karmu, hlasovat a určovat směr komunity.
                    </p>                    
                </div>
              </div>                     
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jak vyděláváte peníze?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Jsme affiliate partneři některých stránek, což znamená, že dostáváme provizi, pokud se zaregistrujete přes naše odkazy. To však neovlivňuje listingy, které závisí na "<strong>karmě</strong>" komunity.</p>
                </div>
              </div>
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jsou vaše recenze upřímné?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Absolutně, žijeme z budování a ctění důvěry uživatelů. Existují placené i neplacené recenze. Ty placené jsou odpovídajícím způsobem označeny. Ale ani placené recenze neovlivňují to, že listingy a žebříčky závisí na "<strong>karmě</strong>" komunity.</p>

                  <p>Naše pověst závisí na důvěře našich uživatelů. Pokud je kasino špatné, řekneme to bez obav, i když ztratíme peníze. Pokud je velmi špatné, putuje na naše <strong>blacklisty</strong>.</p>
                </div>
              </div>

              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jak přidat novou stránku?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Můžete to udělat sami (pokud máte <strong>karmu</strong>), kliknutím na tlačítko "Přidat web" v horní části každé stránky.</p>
                </div>
              </div>                 
              
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jak vás mohu kontaktovat?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>Můžete nás kontaktovat prostřednictvím našich sociálních sítí, zejména Instagramu (<a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer">@betizen_org</a>), kde rychle odpovídáme na všechny dotazy.</p>
                </div>
              </div>

              {# Technologies #}
              <div class="collapse collapse-arrow join-item border border-base-300 dark:border-gray-700">
                <input type="radio" name="faq" />
                <div class="collapse-title text-xl md:text-2xl font-medium">
                  Jaké technologie používáte?
                </div>
                <div class="collapse-content prose md:prose-lg prose-p:my-[10px] min-w-full">
                  <p>
                    Projekt Betizen využívá 
                    <a href="{{ config.links.cubiqApis }}/cs" target="_blank">Cubiq API pro hlasování a uživatele</a>, 
                    <a href="https://www.11ty.dev/" target="_blank" rel="nofollow noopener noreferrer">Eleventy</a> jako SSG, 
                    a <a href="https://vercel.com/" target="_blank" rel="nofollow noopener noreferrer">Vercel</a> jako cloudovou platformu pro nasazení s globální CDN a automatickými buildy.
                  </p>
                </div>
              </div>
              
            </div>
            
            {# Contact #}
            <div class="alert alert-lg alert-info alert-soft mt-8">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6 hidden md:flex">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
              <div>
                <h3 class="md:text-lg font-bold">Máte další otázky?</h3>
                <div class="text-xs">Napište nám na Instagram a odpovíme okamžitě</div>
              </div>
              <div>
                <a href="{{ config.links.instagram }}" target="_blank" rel="noopener noreferrer" class="btn btn-info text-white btn-sm">@betizen_org</a>
              </div>
            </div>

        </div>

    </div>

</div>
