---
title: "Výhody"
description: "Exkluzivně pro nejlepší přispěvatele komunity. Stoupejte v žebříčku tím, že rozdáváte svou karmu prostřednictvím hlasů a recenzí, a odemkněte speciální bonusy a výhody."
layout: "layouts/base.njk"
permalink: "/cs/vyhody/"
---

<div class="max-w-6xl mx-auto">
    <div class="rounded-xl shadow-lg mb-8">
        <div 
          style="background-image: linear-gradient(to right, #4f46e5, #7c3aed)"
          class="bg-red-200 h-20 relative rounded-t-lg">
            <div class="absolute top-4 right-6">
                <a href="{{ '/' | locale_url }}" class="bg-gray-600 text-white text-xs px-3 py-1 rounded">
                    Domů
                </a>
            </div>
        </div>
        
        <div class="pt-12 pb-6 px-6">
            <div class="flex flex-col items-start justify-between md:mb-4 prose prose-xs md:prose-lg min-w-full prose-p:my-[10px]">
                <h1 class="!mb-2">{{ title }}</h1>
                <h2 class="text-gray-400 !mt-0 !mb-8">{{ description }}</h2>
            </div>

            {# Benefit types #}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 !mb-8">
                <div class="card bg-base-200/50">
                    <div class="card-body items-center text-center">
                        <h2 class="card-title">Bronzová úroveň</h2>
                        <p>1 000 rozdané karmy</p>
                        <div class="badge badge-accent">Již brzy</div>
                    </div>
                </div>
                <div class="card bg-base-200/50">
                    <div class="card-body items-center text-center">
                        <h2 class="card-title">Stříbrná úroveň</h2>
                        <p>5 000 rozdané karmy</p>
                        <div class="badge badge-secondary">Již brzy</div>
                    </div>
                </div>
                <div class="card bg-base-200/50">
                    <div class="card-body items-center text-center">
                        <h2 class="card-title">Zlatá úroveň</h2>
                        <p>10 000 rozdané karmy</p>
                        <div class="badge badge-primary">Již brzy</div>
                    </div>
                </div>
            </div>

            <div class="text-left prose prose-h3:mb-2">
                <h3>Odemkněte exkluzivní odměny</h3>
                <p>Náš program výhod je navržen tak, aby odměňoval nejaktivnější a nejnápomocnější členy komunity. Čím více karmy rozdáte hlasováním a recenzemi, tím výše stoupnete v žebříčku a tím lepší výhody odemknete.</p>
            </div>

        </div>
    </div>
</div>
