---
title: "Bonusy"
description: "Některé z nejlepších bonusů na doporučených herních platformách."
slugOverride: bonusy
hideNormalTitle: true
---


<div class="archive-title clearfix mb-0 pb-0" style="border-bottom: 0">
    <div class="row align-items-end">
        <div class="col-md-8">
            <h1 class="page-title mb-2 mb-md-0">
            Bonusy
            </h1>
            <div class="catalog-description mt-2 ml-1 mb-2">
            <p class="Xd-none Xd-md-block">
                Pokud vás zajímají bonusy, upozornění na nebezpečné
                sázkové kanceláře a novinky o nových hrách a spolehlivých
                kasinech, sledujte nás na
                <a
                href="https://www.instagram.com/betizen_org/"
                target="_blank"
                rel="noopener nofollow"
                >Instagramu</a
                >.
            </p>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    </div>

    {%- include "components/bz-banner-hero.njk" -%}

    <div class="theme-cards-holder" style="border-bottom: 0">
    <div id="casinos-table" class="row">
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
                <img
                    src="{{ metadata.images.site }}bonus-bg-1.webp"
                    class="card-img-top"
                    alt="obrazek-bonusu"
                />
            </div>
             <div
                class="card-img-overlay"
                style="
                    background: linear-gradient(
                    to top left,
                    transparent 0%,
                    rgba(0, 0, 0, 1) 100%
                    );
                ">
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 Uvítací bonus 888Starz
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}888starz-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    Až 1500 EUR + 150 zatočení zdarma
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://bonusme.fun/L?tag=d_3370224m_37513c_BR_CL_CA_MX_PE&site=3370224&ad=37513"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 Uvítací bonus 31Bet
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}31bet-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    100% až $1000, x35
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://go.affision.com/visit/?bta=38864&nci=5551"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 100 zatočení zdarma v Coins Game
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{metadata.images.casinos}}coins-game-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    100 zatočení na Bonanza Billion od BGaming
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://coinsaffs.com/df0c24934"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 Uvítací bonus JugaBet
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}jugabet-analisis-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    125% + 100 zatočení zdarma, x30
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://grwptraq.com/?serial=61296973&creative_id=1222"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />

            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 Uvítací bonus Lolo Bet
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}lolo-bet-analisis-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    100% až $500 + 70 zatočení zdarma
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://lolo.bet?faff=195"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                Doporučte přátelům a vydělejte až 15%
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}crypto-games-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    15% z výhody kasina za každého doporučeného
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://crypto.games?i=Y3XK7cnC3k"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                 Uvítací bonus Mostbet
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}mostbet-logo.webp"
                        class="theme-card__img wp-post-image rounded-circle"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    250 zatočení zdarma a 120% bonus, x60
                    </div>
                </div>
                </div>
                <a
                rel="nofollow"
                target="_blank"
                role="button"
                href="https://mostbetapostas.com/c5Cs"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                Uvítací bonus 88goals
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}88goals-logo.webp"
                        class="theme-card__img wp-post-image"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    50% až $100, x5
                    </div>
                </div>
                </div>
                <a
                rel="nofollow noopener noreferrer"
                target="_blank"
                role="button"
                href="https://play.88goals.com/affiliates/?btag=1081636"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                title="88Goals Generic"
                data-linkid="7665"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4 m-0 mt-2 mt-sm-0 p-1">
        <div class="card card-tablebonus card-multibonus">
            <div>
            <img
                src="{{ metadata.images.site }}bonus-bg-1.webp"
                class="card-img-top"
                alt="obrazek-bonusu"
            />
            </div>
            <div
            class="card-img-overlay"
            style="
                background: linear-gradient(
                to top left,
                transparent 0%,
                rgba(0, 0, 0, 1) 100%
                );
            "
            >
            <div class="card-body p-0">
                <h5
                class="card-title text-center text-nowrap font-weight-normal"
                >
                Uvítací bonus 21Luckybet
                </h5>
                <div
                class="card-text text-center"
                style="
                    padding-top: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                "
                >
                <div class="row p-0 m-0 mb-3 mb-sm-4">
                    <div class="col-4">
                    <img
                        width="100"
                        src="{{ metadata.images.casinos }}21luckybet-logo.webp"
                        class="theme-card__img wp-post-image"
                        alt="casino-image"
                    />
                    </div>
                    <div class="col p-0 m-0 pt-0 pt-sm-2">
                    100% až $100 + 50 zatočení zdarma, x50
                    </div>
                </div>
                </div>
                <a
                rel="nofollow noopener noreferrer"
                target="_blank"
                role="button"
                href="https://m.gamingpoint.co/Redirect.aspx?mid=1&sid=604&cid=&pid=&affid=220"
                class="btn btn-outline-brand btn-sm btn-block btn-bonusbox text-uppercase"
                title="21Luckybet"
                data-linkid="7574"
                >
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                {{ languages[page.lang].texts.tryBonus }}
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
