---
slugOverride: slovnik
title: "Slovník"
description: "Naučte se všechny potřebné termíny pro vstup do světa online sázení. Bez zbytečností, naprostá transparentnost."
---

<ul>
  <li>
    <a href="/blog/que-es-el-rtp-en-las-tragamonedas/"><strong>RTP</strong></a>
    ("Return to player" neboli "návratnost hráči"): Toto je základní hodnota
    hazardních her, která určuje, kolik si kasino z celkové vsazené částky
    v dlouhodobém horizontu ponechá. A tedy definuje, jaká je zisková marže pro
    hráče. Průměrné RTP je 96% u automatů. To
    znamená, že v dlouhodobém horizontu automat vrátí hráčům 96%
    z vsazené částky a marže kasina je 4%. Je důležité zdůraznit, že
    se jedná o průměr v <strong>dlouhodobém horizontu</strong>, a proto
    v krátkodobém horizontu vždy existuje možnost získat velkou výhru, která
    způsobí, že kasino místo vydělávání peněz prodělá. Zejména u automatů
    s vysokou volatilitou.
  </li>
  <li>
    <strong
      ><a href="/blog/que-es-la-volatilidad-de-las-tragamonedas/"
        >Volatilita</a
      ></strong
    >
    nebo variance: Existuje mnoho způsobů, jak vysvětlit volatilitu. Lze ji
    chápat například jako to, jak rychle nebo s jakou agresivitou se bude náš
    bankroll měnit při hraní těchto automatů. Hry s vysokou volatilitou jsou
    velmi žádané mnoha hráči, protože jejich vysoké riziko je spojeno s
    vysokou možností velkých výher. <br />Tyto automaty vyplácejí
    ceny méně často, ale když vyplácejí, bývají vyšší.
  </li>
  <li>
    <strong
      ><a href="/blog/bankroll-y-gestion-de-apuestas/">Bankroll</a>:</strong
    >
    Toto je množství peněz, které máme k dispozici v
    <a href="/cs/online-kasina/">online kasinech</a> pro sázení. Je to
    množství aktivních peněz, které jsme získali vkladem nebo výhrou. S těmito
    penězi vstupujeme do jakékoli hry.
  </li>
  <li>
    <a
      href="/blog/que-es-el-rollover-de-los-bonos-y-como-funciona-no-te-dejes-enganar/"
      ><strong>Rollover</strong></a
    >. Je důležitým údajem při ověřování kvality promoakce, protože udává
    celkovou částku, kterou musíme vsadit, než budeme moci vybrat výhry
    získané za použití bonusů.
  </li>
  <li>Jackpot nebo akumulovaná výhra.</li>
  <li>
    <strong>Jackpot nebo progresivní akumulovaná výhra</strong>: Typ jackpotu,
    do kterého každý hráč přispívá každým otočením. Tyto
    síťové jackpoty mívají vysoké hodnoty, protože se živí ze všech
    hráčů, kteří hrají daný automat ve všech kasinech.
  </li>
  <li>Naskládané wildy nebo "Stacked wilds".</li>
  <li>Mince nebo kredity.</li>
  <li>
    <strong
      >"<a href="/blog/rolling-reels-de-microgaming/">Rolling Reels™</a
      >"</strong
    >: Speciální funkce některých automatů, která spočívá v tom,
    že když získáme výhru v jednom z našich otočení, symboly
    zapojené do výhry zmizí a jejich pozice jsou nahrazeny symboly,
    které byly bezprostředně nad nimi, což nám umožňuje získat nové výhry
    bez utrácení dalších otočení. Tuto funkci můžete vidět například ve hře
    <a href="/juego/thunderstruck-2/">Thunderstruck 2</a> od Microgaming.
  </li>
  <li>
    <strong>"<a href="/blog/tragamonedas-megaways/">Megaways™</a>"</strong>:
    Mechanismus automatů patentovaný australskou společností
    "Big Time Gaming". To, co dělá tento typ automatů zvláštním, je to,
    že válce mohou obsahovat náhodné množství symbolů a velikost
    těchto symbolů dynamicky určuje počet výherních linií
    pro dané otočení, na rozdíl od tradičních automatů, kde je
    pevný počet výherních linií. Pro podrobnější pochopení této
    mechaniky jsme napsali článek, ve kterém podrobně vysvětlujeme
    <a href="/blog/tragamonedas-megaways/">Megaways automaty </a
    ><strong>™.</strong>
  </li>
  <li>Shlukové výplaty (Cluster pays).</li>
  <li>Affiliate partner.</li>
  <li>
    <a href="/leaderboard/"><strong>Žebříčky.</strong></a> V Betizenu mají hry,
    kasina, bonusy a affiliate programy spravedlivé a nestranné pozice v
    listinzích, podle hlasování uživatelů.
  </li>
</ul>
<h2 class="wp-block-heading">Partnerské stránky</h2>
<ul>
  <li>
    <a href="https://bingo-online.jouwpagina.nl/">bingo-online</a>
    – jouwpagina.nl
  </li>
</ul>
